:root {
   --color1: #FE7B6A;
   --color2: #FEBE6A;
   --color3: #D2FE6A;
   --color4: #6AD9FE;
   --color5: #EC92FC;
}

body {
   margin: 0;
   font-family: "Inter", sans-serif;
}

.main-wrapper {
   max-width: 900px;
   max-height: 700px;
   margin: auto auto;
}

header {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 150px;
}

.inputs {
   display: flex;
   gap: 12px;
   height: 40px;
   padding: 25px 0;
   margin: 0 15px;
}

.input {
   background-color: white;
   border: 1px solid #d1d5db;
   border-radius: 6px;
   cursor: pointer;
}

#color-input {
   width: 60px;
   height: 40px;
}

#scheme-mode {
   width: 285px;
   height: 40px;
   font-size: 16px;
   padding: 0 10px;
}

#generate {
   width: 135px;
   height: 40px;
   font-size: 14px;
}

.scheme-container {
   min-width: 650px;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   justify-content: center;
   cursor: pointer;
}

.color-block {
   min-height: 400px;
   min-width: 100px;
}

.color-1 {
   background-color: var(--color1);
}

.color-2 {
   background-color: var(--color2);
}

.color-3 {
   background-color: var(--color3);
}

.color-4 {
   background-color: var(--color4);
}

.color-5 {
   background-color: var(--color5);
}

span {
   display: inline-block;
   width: 33px;
   text-align: center;
}

h2 {
   width: 100%;
   text-transform: uppercase;
   text-align: center;
   font-size: 16px;
   font-weight: 700;
   letter-spacing: 0.8px;
   padding: 15px 0;
   margin: 0;
}

.scheme-block:hover h2 {
   border-bottom: 3.5px solid;
}

#hex1 {
   border-color: var(--color1);
}

#hex2 {
   border-color: var(--color2);
}

#hex3 {
   border-color: var(--color3);
}

#hex4 {
   border-color: var(--color4);
}

#hex5 {
   border-color: var(--color5);
}